.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1272px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 150px;
  gap: 74px;

  .hero-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 580px;
    .title {
      h1 {
        color: var(--Text, #141415);
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
      }
      h2 {
        color: var(--Text, #141415);
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }
    .content {
      .desc {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        .line {
          border-radius: 30px;
          background: var(
            --gradient,
            linear-gradient(135deg, #05aff2 -0.06%, #044bd9 99.88%)
          );
          width: 2px;
          align-self: stretch;
        }
        .text {
          h3 {
            color: #044bd9;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 155.556% */
          }
          h4 {
            color: #303032;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
          }
        }
      }
    }
    .buttons {
      display: flex;
      a {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        text-decoration: none;
        margin-right: 20px;

        &:first-child {
          background: #044bd9;
          color: #fff;
        }
        &:last-child {
          border: 1px solid var(--Dark-Blue, #044bd9);
          color: #141415;
        }
      }
    }
  }
  .hero-image {
    flex: 3;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .hero {
    width: 100%;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 91px;
    .hero-text {
      gap: 0px;
      .title {
        h1 {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 170%; /* 34px */
        }
        h2 {
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 170%;
        }
      }
      .content {
        margin-top: 16px;
        margin-bottom: 80px;
        .text {
          h3 {
            color: var(--Dark-Blue, #044bd9);
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 27px */
          }
          h4 {
            color: var(--Text, #141415);
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
      .buttons {
        flex-direction: column;
        gap: 16px;
      }
    }
    .hero-image {
      display: none; /* Hide the image on screens with a width of 900px or less */
    }
  }
}
