.insights {
  padding: 15px;
  border-radius: 8px;
  border: 3px solid #3245ff;
  display: flex;
  h3 {
    font-weight: 600;
  }
  p {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    line-height: 1.6; /* Set the desired line height */
  }
  .stepper {
    flex: 1;
  }
  .appeal {
    flex: 1;
  }
}

.main-table {
  height: calc(100vh - 470px);
}
.summary {
  color: #3245ff;
}

.upload-container {
  form {
    display: flex;
    justify-content: space-around;
  }
}

.demo-container {
  padding: 20px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;

  .row {
    margin: 0; // Remove default margin from Bootstrap
  }

  .insight {
    min-width: 500px;
  }

  .one-col {
    display: flex;
    justify-content: space-between;
  }

  .title {
    text-align: center;
    margin-bottom: 50px;
    h1 {
      color: #044bd9;
      font-size: 28px;
    }

    p {
      font-size: 18px;
    }
  }

  .content {
    p {
      font-size: 16px;
      line-height: 1.4;
    }

    ol {
      padding-left: 20px;
      list-style: none; /* Remove the default numbering */

      li {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.4;

        &::before {
          content: "-"; // Use a custom bullet point (you can replace it with your preferred icon or style)
          margin-right: 10px;
        }
      }
    }
  }

  button {
    // Common button styles
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;

    &.bg-primary {
      background-color: #007bff;
      color: #fff;
    }

    // You can add more button styles as needed, like different colors or hover effects
    &.bg-secondary {
      background-color: #888;
      color: #fff;
    }
  }
}
