.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .row-vip {
    display: flex;
    gap: 32px;
  }
  .row-member {
    display: flex;
    gap: 32px;
  }
  .member {
    max-width: 384px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .cards {
    .row-vip {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .row-member {
      display: none;
    }
  }
}
